/* bulma is our main CSS styling so this page shouldny be needed but lets keep it just in case we want to do some cusotme work 
Bulma is linked in the head of the HTML and is mobile first so it will look great on mobile automatically.  additionally it runs off flexbox so it should easy to maniplate.
*/
/* possible color stort themes
7EA172 asparagus - is best with white text
E7A977 fawn - is best with black text
502419 caput mortuum - is best with white text
EBBE9B peach crayon - is best with black text
40531B dark moss green - is best with white text
F9D4BB apricot - is best with black text
5C4430 van dyke brown - i sbest with white text
676346 ebony - is best with white text
6F8E5D russian green is best with white text
9D946B artichoke best with white text
AEA27C ecru bst with black
F5E5FC pale purple pantone best with black

blues
5A8D92 steel teal bes with white


*/



header{
    background-color: #5A8D92;
    color: #AEA27C;
    font-family: 'Chicle', cursive;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #502419;
    
}
h1{
    font-size: 80px;
    
}
h2{
    font-size: 30px;

}


#beer-me-bro {
    background-color: #AEA27C;
    font-family: 'Chicle', cursive;
    color: #40531B;
    

}
#beer-me-bro:hover{
    background-color: #5C4430;
    color: #F5E5FC;
}

main {
    width: 100vl;
    height: 50vh;
    background-color: #AEA27C;
    font-family: 'Chicle', cursive;
    color: #40531B;

}

#map{
    background-color: green;

}

#searchResults{
    background-color: rgb(203, 169, 235);
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

aside {
    width: 100vl;
    height: 20vh;
    background-color: #AEA27C;
    font-family: 'Chicle', cursive;
    color: #40531B;
}

nav {
    width: 100vl;
    height: 10vh;
    background-color: greenyellow;
}


/* this section is to test our color story will not be in the code later */

.colorSwatches {
    height: 270px;
    width: 270px;
}



#color1{
    background-color:#7EA172 ;   
    
   }

#color2{
    background-color:#E7A977 ;   
   }


#color3{
    background-color: #502419;   
   }
   
#color4{
    background-color:#EBBE9B ;   
   }
   
#color5{
    background-color:#40531B;   
   }
   
#color6{
    background-color: #F9D4BB;   
   }
   
#color7{
    background-color: #5C4430;   
   }




#color8{
    background-color: #676346;   
   }

#color9{
    background-color: #6F8E5D;   
   }

#color10{
    background-color: #9D946B;   
   }

#color11{
    background-color: #AEA27C;   
   }

#color12{
    background-color: #F5E5FC;   
   }

#color13{
    background-color: #5A8D92;   
   }

/* #color14{
    background-color: #;   
   }

#color15{
 background-color: #;   
} */