

header{
    background-color: #5A8D92;
    color: #AEA27C;
    font-family: 'Chicle', cursive;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #502419;
    
}
h1{
    font-size: 80px;
    
}
h2{
    font-size: 30px;

}


#beer-me-bro {
    background-color: #AEA27C;
    font-family: 'Chicle', cursive;
    color: #5C4430;
    

}
#beer-me-bro:hover{
    background-color: #5C4430;
    color: #F5E5FC;
}

main {
    width: 100vl;
    height: 50vh;
    background-color: #AEA27C;
    font-family: 'Chicle', cursive;
    color: #40531B;

}

.breweryMapBox {
    background-color: #AEA27C;
    font-family: 'Chicle', cursive;
}

#map{
    background-color: green;

}

#searchResults{
    background-color: #AEA27C;
    font-family: Arial, Helvetica, sans-serif;
    color: #5C4430;
    margin-top: 3rem;
}

aside {
    
    background-color: #AEA27C;
    font-family: 'Chicle', cursive;
    color: #5C4430;
}

nav {
    width: 100vl;
    height: 10vh;
    background-color: #5A8D92;
}

.savedBrewsHeader {
    background-color: #5A8D92;
    font-family: 'Chicle', cursive;
    color: #5C4430;
}

.savedBrewsContent {
    background-color: #5A8D92;
}

.saveBeerButton {
    background-color: #AEA27C;
    font-family: 'Chicle', cursive;
    color: #5C4430;
    
}

.saveBeerButton:hover{
    background-color: #5C4430;
    color: #F5E5FC;
}

#clear {
    background-color: #AEA27C;
    font-family: 'Chicle', cursive;
    color: #5C4430; 
}

#clear:hover{
    background-color: #5C4430;
    color: #F5E5FC;
}
